.about
    padding-top: 120px

    &_wrapper
        display: grid
        grid-template-columns: 400px 670px
        grid-template-rows: minmax(245px, auto) minmax(255px, auto)
        grid-auto-rows: minmax(245px, auto)
        column-gap: 70px
        row-gap: 30px
    &_img
        grid-row: 1/3
        img
            width: 100%
            height: 600px
            object-fit: cover
    &_descrb
        padding-top: 5px
    &_text
        margin-top: 20px
        font-size: 14px
        line-height: 21px
    
    &_subtitle
        font-size: 36px
        font-weight: bold
    &_skills
        display: grid
        grid-template-columns: repeat(1, 260px) repeat(1, 260px)
        grid-auto-rows: 1fr
        column-gap: 50px
        row-gap: 20px
        .info_item
            display: grid
            grid-template-columns: 40px 200px
            column-gap: 20px
        .info_subheader
            font-weight: bold
            font-size: 14px
        .info_icon
            position: relative
            padding: 15px 0 0 15px
            @include before-circle
            &::before
                top: 0
        .info_text
            line-height: 21px
            p
                margin-top: 6px
                margin-bottom: 0
                font-size: 12px
